body {
    background-color: #f3f3f3;
}

.container {
    display: flex;
    flex-direction: column;
    border: 1.5px solid black;
    width: 480px;
    height: 480px;
}

.pixel {
    border: .5px dotted gray;
    box-sizing: border-box;
}